@model IEnumerable<TecnoFerre.Models.Transaccion>

@{
    ViewData["Title"] = "Transacciones";
}

<h1>Transacciones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Transacción</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.Usuario.Nombre</td>
            <td>@item.Producto.Nombre</td>
            <td>@item.FechaTransaccion</td>
            <td>@item.Cantidad</td>
            <td>@item.Estado</td>
            <td>
                <a asp-action="Anular" asp-route-id="@item.TransaccionID" class="btn btn-danger">Anular</a>
            </td>
        </tr>
}
    </tbody>
</table>
