@model List<Producto>
@{
    ViewData["Title"] = "Resultados de Búsqueda";
    var palabra = ViewContext.RouteData.Values["id"].ToString();

    List<Producto> relacionados = new List<Producto>();
    foreach (var item in Model)
    {
        if (item.nombre.ToLower().Contains(palabra))
        {
            relacionados.Add(item);
        }
    }
}

<div class="container fondo-categoria w-100 d-flex align-items-center justify-content-center mb-4">
    <h1 class="titulos">@ViewData["Title"]</h1>
</div>

    <h3 class="fondo-texto texto-rosa ps-4">Productos que contienen "@palabra"</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in relacionados)
        {
        <div class="col mb-4">
            <a asp-action="informacionProducto" asp-controller="Home" asp-route-id="@item.id" class="text-decoration-none">
                <div class="card">
                    <img src="@item.imagen" class="card-img-top producto-imagen" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.nombre</h5>
                        <p class="card-text">₡@item.precio</p>
                    </div>
                </div>
            </a>
        </div>
        }

    </div>